@model PotatoPortail.Views.Shared.Widget.Model.FlatUiTextInputModel

<div class="flat-text-editor">
    <p>@Model.Placeholder</p>
    <input step="@Model.Step" style="height: @Model.Height" name="@Model.Name" type="@Model.Type" value="@Model.Valeur" required="required"/>
</div>