@using PotatoPortail.Views.Shared.Widget.Model
@model PotatoPortail.Views.Shared.Widget.Model.FlatUiSelect

<div>
    <div class="form-group">
        <p>@Model.Label</p>
        <select class="form-control" name="@Model.Name">
            <optgroup label="@Model.Label">
                @foreach (FlatUiOption item in Model.Options)
                {
                    <option value="@Html.DisplayFor(model => item.Valeur)">@Html.DisplayFor(model => item.ContenuHtml)</option>
                }
            </optgroup>
        </select>
    </div>
</div>