@using PotatoPortail.Views.Shared.Widget.Model
@model PotatoPortail.Views.Shared.Widget.Model.FlatUiSelect

<div class="flat-select">
    <p>@Model.Label</p>
    <select name="@Model.Name">
        <optgroup label="@Model.Label">
            @foreach (FlatUiOption item in Model.Options)
            {
                <option value="@Html.DisplayFor(model => item.Valeur)">@Html.DisplayFor(model => item.ContenuHtml)</option>
            }
        </optgroup>
    </select>
</div>