<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Titre</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/material-icons.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", false)

</head>
<body>
    <section id="layout">
        <header>
            <div class="main clearfix">

                <div id="nav-button" data-toggle="collapse" data-target="#nav" class="layout-button inline-block"><span class="glyphicon glyphicon-th-large"></span></div>

                <div class="div-recherche-layout">
                    <input type="text" id="strRechercheLayout" class="recherche-layout margin-left" placeholder="Recherche" name="stringRechercher">
                    <a class="layout-button inline-block" id="rechercheLayout" onclick="rechercheLayout()">
                        <span class="glyphicon glyphicon glyphicon-search"></span>
                    </a>
                </div>
                
                <div class="version">
                    Version: 2018-3
                </div>

                <a href='@Url.Action("Index", "Accueil")'><div class="logo"></div></a>

                @Html.Partial("_ConnexionPartial")
                
                <div class="div-utilisateur">
                    <p class="p-utilisateur">Utilisateur: @Session["PrenomUtilisateur"] @Session["NomUtilisateur"]</p>
                    <p class="p-utilisateur">Rôle(s): @Session["RolesUtilisateur"]</p>
                </div>

            </div>
            <nav id="nav" class="collapse">
                <div class="tuile-container">

                    @if (User.IsInRole("RCP"))
                    {
                        <a class="tuile" href='@Url.Action("Pedagogie", "Accueil")'>
                            <span class="mdi mdi-school"></span>
                            <p>Pédagogie</p>
                        </a>
                    }
                    @if (User.IsInRole("RCP") || User.IsInRole("RDC") || User.IsInRole("Enseignant"))
                    {
                        <a class="tuile" href='@Url.Action("Index", "Rapport")'>
                            <span class="mdi mdi-folder-open"></span>
                            <p>Rapport</p>
                            <p>(Bêta)</p>
                        </a>
                        <a class="tuile" href='@Url.Action("Reunions", "Accueil")'>
                            <span class="mdi mdi-date-range"></span>
                            <p>Réunions</p>
                        </a>
                    }
                        <a class="tuile" href='@Url.Action("Stage", "Accueil")'>
                            <span class="mdi mdi-work"></span>
                            <p>Stages</p>
                        </a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="tuile" href='@Url.Action("ConsoleAdmin", "Accueil")'>
                            <span class="glyphicon glyphicon-cog"></span>
                            <p>Console d'administration</p>
                        </a>
                    }
                    @if (User.IsInRole("Admin eSports") || User.IsInRole("Etudiant") || User.IsInRole("Joueur eSports"))
                    {
                        <a class="tuile" href='@Url.Action("ESport", "Accueil")'>
                            <span class="mdi mdi-videogame-asset"></span>
                            <p>eSport - Gaillard</p>
                        </a>
                    }


                </div>
            </nav>
        </header>
    </section>
    <section id="page-content">

        @RenderBody()
        @Html.Partial("_Toastr")

    </section>

    <script>
        function rechercheLayout() {
            var stringRecherche = document.getElementById("strRechercheLayout").value;
            var stringModel = "";

            if (document.getElementById("tableRecherche") !== null)
                stringModel = document.getElementById("tableRecherche").value;
            window.location.href = "@Url.Action("Recherche", "Recherche")?stringRechercher=" + stringRecherche + "&tableRecherche=" + stringModel;
        }

        var input = document.getElementById("strRechercheLayout");
        input.addEventListener("keyup", function (e) {
            if (e.which === 13) { // 13 = Entrée sur le clavier
                document.getElementById("rechercheLayout").click();
            }
        });

    </script>
</body>
</html>