@model ICollection<PotatoPortail.Models.Stage>
@using PotatoPortail.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Stage";

}



@* ReSharper disable once UnknownCssClass *@
<div class="container page-content">
    <h1>Stage</h1>
    <div class="row">
        <div class="col-md-14">
            <table class="cool-table">
                <tr>
                    <th colspan="4" class="action-cell-header">Description</th>
                    <th class="action-cell-header">Salaire</th>
                    <th class="action-cell-header">Modifier</th>
                    <th class="action-cell-header">Supprimer</th>
                    <th class="action-cell-header"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td colspan="4" style="width: 40%;">
                            <div class="scrollable">
                                @Html.DisplayFor(model => item.Description)
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Salaire) $
                        </td>
                        <td class="action-cell">

                            <a href='@Url.Action("Modifier", "Stage", new { item.IdStage })'>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td class="action-cell">
                            <a href='@Url.Action("Suppression", "Stage", new { item.IdStage })'>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>

                        <td>
                            <form action="/Stage/TeleverserFichier" method="POST">
                                <div>
                                    <button id="@Html.DisplayFor(model => item.IdStage)">
                                        <input type="hidden" name="fichier" value="@Html.DisplayFor(model => item.NomDocument)" />
                                        <span class="mdi mdi-description" />
                                    </button>
                                    <script>
                                    if ("@Html.DisplayFor(model => item.NomDocument)" === "") {
                                        document.getElementById("@Html.DisplayFor(model => item.IdStage)").disabled =
                                            "disabled";
                                        document.getElementById(@Html.DisplayFor(model => item.IdStage)).style.background =
                                            "#565656";
                                    }
                                    </script>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="menu-flottant">
        <a class="fancy-button blanc" href="@Url.Action("Stage","Accueil")">
            <span class="glyphicon glyphicon-triangle-left"></span>
            Retour
        </a>

        <a class="fancy-button blanc" href="@Url.Action("AjouterStage", "Stage")">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter un stage
        </a>

    </div>
</div>
<script src="@Url.Content("~/Scripts/perfect-scrollbar.js")"></script>
<script>
    var ps = new PerfectScrollbar('.scrollable');

</script>

