@model IEnumerable<PotatoPortail.Models.Stage>
@using PotatoPortail.Models
@using PotatoPortail.Views.Shared.Widget.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Stage";

}

<h1>Stage</h1>

@* ReSharper disable once UnknownCssClass *@
<div class="container page-content">
    <div style="margin-bottom: 20px;">
        <form action="/Stage/AjouterStage" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Créer un nouveau stage"))
        </form>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table class="cool-table">
                <tr>

                    <th colspan="1" class="action-cell-header">Poste</th>
                    <th colspan="1" class="action-cell-header">Lieux</th>
                    <th colspan="1" class="action-cell-header">Contact</th>
                    <th colspan="1" class="action-cell-header">Statuts</th>
                    <th colspan="1" class="action-cell-header">Description</>
                    <th colspan="1" class="action-cell-header">Salaire</th>
                    <th colspan="1" class="action-cell-header">Modifier</th>
                    <th colspan="1" class="action-cell-header">Supprimer</th>
                </tr>

                @foreach (var item in (List<Stage>)Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Poste.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Location.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Contact.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Status.StatusStage)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Salaire) $
                        </td>
                        <td colspan="1" class="action-cell">

                            <a href='@Url.Action("Modifier", "Stage", new { id = item.IdStage })'>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td colspan="1" class="action-cell">
                            <a href='@Url.Action("Suppression", "Stage", new { id = item.IdStage })'>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td></td>

                        <td>
                            <form action="/Stage/TeleverserFichier" method="POST">
                                <div>
                                    <button id="@Html.DisplayFor(model => item.IdStage)">
                                        <input type="hidden" name="fichier" value="@Html.DisplayFor(model => item.NomDocument)" />
                                        <img src="~/Content/Icons/baseline-settings-20px.svg" alt="icon-setting" />
                                    </button>
                                    <script>
                                    if ("@Html.DisplayFor(model => item.NomDocument)" === "") {
                                        document.getElementById("@Html.DisplayFor(model => item.IdStage)").disabled =
                                            "disabled";
                                        document.getElementById(@Html.DisplayFor(model => item.IdStage)).style.background =
                                            "#565656";
                                    }
                                    </script>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="menu-flottant">
        <a class="fancy-button blanc" href="/Accueil/Index">
            <span class="glyphicon glyphicon-triangle-left"></span>
            Retour
        </a>

        <a class="fancy-button blanc" href="@Url.Action("Creation", "Stage")">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter un stage
        </a>

    </div>
</div>