@model IEnumerable<ApplicationPlanCadre.Models.DevisMinistere>

@{
    ViewBag.Title = "Liste des devis ministériels";
}

<div class="container">
    <div class="box">

        <header class="light-header">

            <h1>@ViewBag.Title</h1>

        </header>

        <table class="cool-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.EnteteProgramme.codeProgramme)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.annee)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.specialisation)
                </th>
                <th class="action-cell-header">
                    <b>Modifier</b>
                </th>
                <th class="action-cell-header">
                    <b>Supprimer</b>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                bool valide = item.EnonceCompetence.Count == 0;
                string dblclickEvent = valide ? Url.Action("Modifier", new { id = item.idDevis }) : @Url.Action("Creation");
                string cssClass = valide ? "valide" : "";
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.EnteteProgramme.codeProgramme)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.annee)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.codeSpecialisation)
                    </td>
                    <td class="action-cell">
                        @if (valide)
                        {
                            <a href='@Url.Action("Modifier", new { id = item.idDevis })'>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        }
                    </td>
                    <td class="action-cell">
                        @if (valide)
                        {
                            <a href='@Url.Action("Supression", new { id = item.idDevis })'>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
        <hr class="end-div"/>

        <div class="menu-flottant">

            <a href='@Url.Action("ConsoleAdmin", "Accueil")' class="fancy-button blanc"><span class="glyphicon glyphicon-triangle-left"></span> Retour</a>
            <a href='@Url.Action("Creation", "ConsoleDevisMinistere")' class="fancy-button blanc"><span class="glyphicon glyphicon-plus"></span> Créer un devis</a>

        </div>
    </div>
</div>
