@model dynamic
@using ApplicationPlanCadre.Models

@{
    ViewBag.Titre = "Rapport";
}
<style>
    .btn{
       float:left;
       margin-left:2px;
    }
    .form-horizontal .mr-0 {
        margin-right: 0 !important;
        padding-right:0px !important;
    }
    .form-control {
        margin-right: 0 !important;
    }
    p{
        font-size:16px;
    }
</style>


<div id="super-view">
    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h1>Rapports</h1>

            </header>

            <h3>Plans Cadre</h3>
            <hr />
            @foreach (PlanCadre planCadre in Model.PlanCadre)
            {
                <a class="info-child clearfix" target="_blank" href='@Url.Action("RapportPlanCadre", "Rapport",new { id = planCadre.idPlanCadre})'>
                    <p class="droiteG">@Html.DisplayFor(x => planCadre.titreCours)</p>
                    <p class="gaucheG">@Html.DisplayFor(x => planCadre.numeroCours)</p>
                </a>
            }
            <h3>Programmes</h3>

            <hr />
            @foreach (Programme programme in Model.Programme)
            {
                <a class="info-child clearfix" target="_blank" href='@Url.Action("RapportProgramme", "Rapport",new { id = programme.idProgramme})'>
                    <p class="droiteG">@Html.DisplayFor(x => programme.nom)</p>
                    <p class="gaucheG">@Html.DisplayFor(model => programme.DevisMinistere.EnteteProgramme.codeProgramme)-@Html.DisplayFor(model => programme.annee)-@Html.DisplayFor(model => programme.DevisMinistere.codeSpecialisation)</p>
                </a>
            }

            <hr class="end-div" />

            <div class="menu-flottant">
                <a class="fancy-button blanc" href='@Url.Action("Index", "Accueil")'><span class="glyphicon glyphicon-triangle-left"></span> Retour</a>
            </div>
        </div>
    </div>
</div>

        


