@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Stage/_Layout.cshtml";
}

@{
    ViewBag.Title = "Création Stage";
}
<form action="/Stage/Edition" method="post" enctype="multipart/form-data">
    <input type="hidden" name="idIntership" value="@ViewBag.IdInternship" />
    <div class="form-content">
        <h1>Stage</h1>
        <div>
            @Html.Partial("Widget/_FlatUiTextarea", new FlatUiTextarea("Description", "Description"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Adresse", "Adresse"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Code Postal", "CodePostal"))
        </div>
        <div class="flat-select">
            <p>Location du Stage</p>
            <select name="IdLocation">
                <optgroup label="Value">
                    @foreach (var item in ViewBag.Location as List<SysInternshipManagement.Models.Location>)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.IdLocation)">@Html.DisplayFor(modelItem => item.Nom)</option>
                    }
                </optgroup>
            </select>
        </div>
        <div class="flat-select">
            <p>Poste</p>
            <select name="IdPost">
                <optgroup label="Value">
                    @foreach (var item in ViewBag.Post as List<SysInternshipManagement.Models.Poste>)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.IdPoste)">@Html.DisplayFor(modelItem => item.Nom)</option>
                    }
                </optgroup>
            </select>
        </div>
        <div class="flat-select">
            <p>Status</p>
            <select name="IdStatus">
                <optgroup label="Value">
                    @foreach (var item in ViewBag.Status as List<SysInternshipManagement.Models.Status>)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.IdStatus)">@Html.DisplayFor(modelItem => item.StatusStage)</option>
                    }
                </optgroup>
            </select>
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Rémunération", "Salary"))
        </div>
        <div class="flat-select">
            <p>Contact du Stage</p>
            <select name="IdContact">
                <optgroup label="Value">
                    @foreach (var item in ViewBag.Contact as List<SysInternshipManagement.Models.Contact>)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.IdContact)">@Html.DisplayFor(modelItem => item.Nom)</option>
                    }
                </optgroup>
            </select>
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiInputButton", new FlatUiInputButton("Ajouter un fichier", "DocumentName"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Enregistrer"))
        </div>
    </div>
</form>