@model IEnumerable<SysInternshipManagement.Models.Stage>
@using SysInternshipManagement.Models
@using SysInternshipManagement.Views.Shared.Widget.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Stage";
}

<h1>Stage</h1>

@* ReSharper disable once UnknownCssClass *@
<div class="container page-content">
    <div style="margin-bottom: 15px;">
        @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    </div>
    <div style="margin-bottom: 20px;">
        <form action="/Stage/AjouterStage" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Créer un nouveau stage"))
        </form>
    </div>

    <table>
        <tr>
            <th>Poste</th>
            <th>Lieux</th>
            <th>Contact</th>
            <th>Status</th>
            <th>Description</th>
            <th>Salaire</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in (List<Stage>) Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Poste.Nom)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Location.Nom)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Contact.Nom)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status.StatusStage)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Salaire) $
                </td>
                <td>
                    <form action="/Stage/Edition" method="GET">
                        <div>
                            <button>
                                <input type="hidden" name="IdStage" value="@Html.DisplayFor(model => item.IdStage)"/>
                                <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                            </button>
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/Stage/TeleverserFichier" method="POST">
                        <div>
                            <button id="@Html.DisplayFor(model => item.IdStage)">
                                <input type="hidden" name="fichier" value="@Html.DisplayFor(model => item.NomDocument)"/>
                                <img src="~/Content/Icons/baseline-settings-20px.svg" alt="icon-setting"/>
                            </button>
                            <script>
                                if ("@Html.DisplayFor(model => item.NomDocument)" === "") {
                                    document.getElementById("@Html.DisplayFor(model => item.IdStage)").disabled =
                                        "disabled";
                                    document.getElementById(@Html.DisplayFor(model => item.IdStage)).style.background =
                                        "#565656";
                                }
                            </script>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>