@model ApplicationPlanCadre.ViewModels.eSportsVM.CreationEquipeViewModel

@{
    ViewBag.Titre = "Création d'équipe";
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="Equipe">
}

<div class="container">

    <div class="form-box">

        <header class="light-header">
            <h1>Création d'une équipe</h1>
        </header>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.NomEquipe)
                        @Html.TextBoxFor(model => model.NomEquipe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NomEquipe, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.JeuID)
                        @Html.DropDownListFor(model => model.JeuID, (IEnumerable<SelectListItem>)ViewBag.Jeu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JeuID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="field-box">
                        <div class="row">
                            <div class="col-md-9">

                                <p>Assigner un entraineur</p>
                                <hr />

                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Entraineurs, (IEnumerable<SelectListItem>)ViewBag.Entraineurs, new { @id = "entraineur", @class = "form-control", @onchange = "ajouterEntraineur()" })
                                    @Html.ValidationMessageFor(model => model.Entraineurs, "", new { @class = "text-danger" })
                                </div>

                                <div id="entraineurBox">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu-flottant">
                <a class="fancy-button blanc" href='@Url.Action("Index", "Equipe")'>
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    Annuler
                </a>
                <input type="submit" name="button" value="Créer l'équipe" class="fancy-button blanc" />
                <input type="submit" name="button" value="Ajouter des joueurs" class="fancy-button blanc" />
            </div>

        }

    </div>
</div>

<hr class="end-div" />

@section Scripts {
    <script>
        $(document).ready(function () {
            initEntraineurDropDown();
        });
    </script>
    <script src="@Url.Content("~/Scripts/Equipeelect.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
}