@model IEnumerable<PotatoPortail.Models.Entreprise>
@using PotatoPortail.Views.Shared.Widget.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Entreprise</h1>

    <div class="row">
        <div class="col-md-11">
            <table class="cool-table">
                <tr>
                    <th colspan="2">Entreprise</th>
                    <th colspan="3">Adresse</th>
                    <th colspan="2">Code postal</th>
                    <th colspan="1" class="action-cell-header">Modifier</th>
                    <th colspan="1" class="action-cell-header">Supprimer</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td colspan="2">@Html.DisplayFor(model => item.Nom)</td>
                        <td colspan="3">
                            @Html.DisplayFor(model => item.NumeroCivique)
                            @Html.DisplayFor(model => item.Rue)
                            @Html.DisplayFor(model => item.Ville),
                            @Html.DisplayFor(model => item.Province),
                            @Html.DisplayFor(model => item.Pays)
                        </td>

                        <td colspan="2">
                            @Html.DisplayFor(model => item.CodePostal)
                        </td>

                        <td colspan="1" class="action-cell">

                            <a href='@Url.Action("Modifier", "Entreprise", new { item.IdEntreprise })'>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>

                        <td colspan="1" class="action-cell">
                            <a href='@Url.Action("Suppression", "Entreprise", new { item.IdEntreprise })'>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>

                    </tr>

                }
            </table>
        </div>
    </div>
    <div class="menu-flottant">
        <a class="fancy-button blanc" href=@Url.Action("Accueil","Index")">
            <span class="glyphicon glyphicon-triangle-left"></span>
            Retour
        </a>

        <a class="fancy-button blanc" href="@Url.Action("Creation", "Entreprise")">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter une entreprise
        </a>

    </div>
</div>