@model IEnumerable<PotatoPortail.Models.Entreprise>
@using PotatoPortail.Views.Shared.Widget.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Entreprise</h1>
    
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <form action="/Entreprise/Creation" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter une nouvelle entreprise"))
        </form>
    </div>
    <table>
        <tr>
            <th>Entreprise</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Nom)</td>
                <td>
                    @Html.DisplayFor(model => item.NumeroCivique)
                    @Html.DisplayFor(model => item.Rue)
                    @Html.DisplayFor(model => item.Ville),
                    @Html.DisplayFor(model => item.Province),
                    @Html.DisplayFor(model => item.Pays)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CodePostal)
                </td>
                <td>
                    <div>
                        <form action="/Entreprise/Edition" method="post">
                            <input name="idEntreprise" type="hidden" value="@Html.DisplayFor(model => item.IdEntreprise)" />
                            <button>
                                <img alt="icon-edit" src="~/Content/Icons/baseline-border_color-24px.svg" />
                            </button>
                            <input type="button" value="Supprimer" class="btn btn-default" onclick="location.href = '@Url.Action("Suppression", "Entreprise", new { id = item.IdEntreprise })'" />
                        </form>
                    </div>
                </td>
            </tr>

        }
    </table>
</div>