@model PotatoPortail.Models.eSports.Jeu
@{
    ViewBag.Titre = "Ajout d'un jeu";
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="Jeu">
}
<div class="container">
    <div class="form-box">
        <header class="light-header">
            <h1>Ajout d'un jeu</h1>
        </header>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="row">
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.NomJeu)
                        @Html.TextBoxFor(model => model.NomJeu, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.NomJeu, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextBoxFor(model => model.Description, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.UrlReference)
                        @Html.TextBoxFor(model => model.UrlReference, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.UrlReference, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Abreviation)
                        @Html.TextBoxFor(model => model.Abreviation, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Abreviation, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="field-box">
                        <div class="row">
                            <div class="col-md-9">
                                <p>Statut du jeu</p>
                                <hr/>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.IdStatut, (IEnumerable<SelectListItem>
                                        ) ViewBag.Statuts, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.IdStatut, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-flottant">
                <a class="fancy-button blanc" href="@Url.Action("Index", "Jeu")">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    Annuler
                </a>
                <input type="submit" value="Ajouter ce jeu" class="fancy-button blanc"/>
            </div>
        }
    </div>
</div>
<hr class="end-div"/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}