@model PotatoPortail.Models.eSports.Jeu

@{
    ViewBag.Titre = "Suppression de " + ViewBag.nomJeu;
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="Jeu">
}

<div class="container" style="margin-bottom:5%;">

    <div class="box">

        <header class="light-header">
            <h1>Suppression du jeu «@ViewBag.nomJeu»</h1>
        </header>


        @if (ViewBag.EquipeJeu.Count == 0)
        {
            <h3>Aucune équipe n'est actuellement associée à ce jeu. Il peut donc être supprimé.</h3>
            <div>
                <div class="element">
                    @Html.LabelFor(model => model.Description)

                    @if (Model.Description != null)
                    {
                        @Html.DisplayFor(model => model.Description)
                    }
                    else
                    {
                        @:Aucune description n'a été fournie pour @Model.NomJeu
                    }
                </div>

                <div class="element">
                    @Html.LabelFor(model => model.UrlReference)

                    @if (Model.UrlReference != null)
                    {
                        if (Model.UrlReference.Substring(0, 4) == "http")
                        {
                            <a href="@Model.UrlReference"> @Html.DisplayFor(model => model.UrlReference) </a>
                        }
                        else
                        {
                            <a href="@string.Format("http://{0}", Model.UrlReference)"> @Html.DisplayFor(model => model.UrlReference)</a>
                        }
                    }
                    else
                    {
                        @:Aucune adresse de référence n'a été fournie pour @Model.NomJeu
                    }
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="menu-flottant">
                        <a class="fancy-button blanc" href="@Url.Action("Jeu","Index")">
                            <span class="glyphicon glyphicon-triangle-left"></span>
                            Annuler
                        </a>
                        <input type="submit" value="Confirmer la suppression" class="fancy-button blanc" />
                    </div>
                }
            </div>
        }
        else if (ViewBag.EquipeJeu.Count == 1)
        {
            <h3>Il y a 1 équipe actuellement associée à «@ViewBag.nomJeu». Vous ne pouvez donc pas supprimer «@ViewBag.nomJeu» du système.</h3>

            <div class="menu-flottant">
                <a class="fancy-button blanc" href="@Url.Action("Jeu","Index")">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    Retour
                </a>
            </div>
        }
        else
        {
            <h3>Il y a @ViewBag.EquipeJeu.Count équipes actuellement associées à «@ViewBag.nomJeu». Vous ne pouvez donc pas supprimer «@ViewBag.nomJeu» du système.</h3>

            <div class="menu-flottant">
                <a class="fancy-button blanc" href="@Url.Action("Index", "Jeu")">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    Retour
                </a>
            </div>
        }

        <hr class="end-div" />

    </div>
</div>
