@model IEnumerable<SysInternshipManagement.Models.Internship>
@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Création Stage";
}
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-content">
        <h1>Stage</h1>

        <div>
            @Html.Partial("Widget/_FlatUiSelect", new FlatUiSelect("Poste de stage", "Post"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextarea", new FlatUiTextarea("Description", "Description"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Adresse", "Address"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiSelect", new FlatUiSelect("Location du stage", "Location"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Rémunération", "Salary"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiTextInput", new FlatUiTextInputModel("Contact", "Contact"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiInputButton", new FlatUiInputButton("Ajouter un fichier", "File"))
        </div>
        <div>
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter ce stage"))
        </div>

    </div>
</form>