@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

@*<script src="@Url.Content("~/Scripts/InternshipScript.js")" type="https://code.jquery.com/jquery-1.10.2.js"></script>*@

<h1>Stage</h1>

<div class="container page-content">

    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <td>
                <div style="width:220px; margin:auto;">
                    <button class="add-button" type="button" onclick="location.href='@Url.Action("Add","Internship")'">
                        <img src="~/Content/Icons/baseline-add-24px.svg" />
                    </button>
                </div>
            </td>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>

    <table>
        <tr>
            <th>Poste</th>
            <th>Lieux</th>
            <th>Contact</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>Programmeur</td>
            <td>Stage 1</td>
            <td>Stage 1</td>
            <td>Stage 1</td>
            <td>
                <div>
                    <button onclick="location.href='@Url.Action("Add","Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg" />
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Tehnicien</td>
            <td>Stage 2</td>
            <td>Stage 2</td>
            <td>Stage 2</td>
            <td>
                <div>
                    <button onclick="location.href='@Url.Action("Add","Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg" />
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Ingénieur Réseaux</td>
            <td>Stage 3</td>
            <td>Stage 3</td>
            <td>Stage 3</td>
            <td>
                <div>
                    <button onclick="location.href='@Url.Action("Add","Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg" />
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Analyste</td>
            <td>Stage 4</td>
            <td>Stage 4</td>
            <td>Stage 4</td>
            <td>
                <div>
                    <button onclick="location.href='@Url.Action("Add","Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg" />
                    </button>
                </div>
            </td>
        </tr>
    </table>




</div>