@model IEnumerable<SysInternshipManagement.Models.Internship>
@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Stage";
}

<h1>Stage</h1>

<div class="container page-content">
    <div style="margin-bottom: 15px;">
        @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    </div>
    <div style="margin-bottom: 20px;">
        <form action="/Internship/AddInternship" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Créer un nouveau stage"))
        </form>
    </div>

    <table>
        <tr>
            <th>Poste</th>
            <th>Lieux</th>
            <th>Contact</th>
            <th>Status</th>
            <th>Description</th>
            <th>Salaire</th>
            <th>Adresse</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Internship as List<SysInternshipManagement.Models.Internship>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Post.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Contact.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status.StatusInternship)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Salary) $
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address)
                </td>
                <td>
                    <form>
                        <div>
                            <button onclick="location.href = '@Url.Action("Edit", "Internship")'">
                                <img src="~/Content/Icons/baseline-border_color-24px.svg" />
                            </button>
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/Internship/UploadFile" method="post">
                        <div>
                            <button>
                                <input type="hidden" name="DocumentName" value="@Html.DisplayFor(model => item.DocumentName)" />
                                <img src="~/Content/Icons/baseline-settings-20px.svg" />
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>