@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Stage";
}

<h1>Stage</h1>

<div class="container page-content">
    <div style="margin-bottom: 15px;">
        @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    </div>
    <div style="margin-bottom: 20px;">
        <a href="/Internship/Edit">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Créer un nouveau stage"))
        </a>
    </div>

    <table>
        <tr>
            <th>Poste</th>
            <th>Lieux</th>
            <th>Contact</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>Programmeur</td>
            <td>Stage 1</td>
            <td>Stage 1</td>
            <td>Stage 1</td>
            <td>
                <div>
                    <button onclick="location.href = '@Url.Action("Edit", "Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Technicien</td>
            <td>Stage 2</td>
            <td>Stage 2</td>
            <td>Stage 2</td>
            <td>
                <div>

                    <button onclick="location.href = '@Url.Action("Edit", "Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Ingénieur Réseaux</td>
            <td>Stage 3</td>
            <td>Stage 3</td>
            <td>Stage 3</td>
            <td>
                <div>
                    <button onclick="location.href = '@Url.Action("Edit", "Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Analyste</td>
            <td>Stage 4</td>
            <td>Stage 4</td>
            <td>Stage 4</td>
            <td>
                <div>
                    <button onclick="location.href = '@Url.Action("Edit", "Internship")'">
                        <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>