@model IEnumerable<SysInternshipManagement.Models.Internship>
@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Stage";
}

<h1>Stage</h1>

<div class="container page-content">
    <div style="margin-bottom: 15px;">
        @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    </div>
    <div style="margin-bottom: 20px;">
        <form action="/Internship/Edit" method="get">
            <input name="create" type="hidden" value="true"/>
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Créer un nouveau stage"))
        </form>
    </div>

    <table>
        <tr>
            <th>Poste</th>
            <th>Lieux</th>
            <th>Contact</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Internship as List<SysInternshipManagement.Models.Internship>) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <div>
                <button onclick="location.href = '@Url.Action("Edit", "Internship")'">
                    <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                </button>
            </div>
        </td>
    </tr>
    }
    </table>
</div>