@{
    ViewBag.Titre = "Console d'administration";
}

<div id="accueil">
    <h1>Console d'administration</h1>
    <div class="icon-container">
        <a class="icon" href='@Url.Action("Index")'>
            <span class="glyphicon glyphicon-share-alt flip"></span>
            <p>Retour</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "ConsoleDevisMinistere")'>
            <span class="glyphicon glyphicon-tasks"></span>
            <p>Devis ministériels</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "ConsoleProgramme")'>
            <span class="mdi mdi-book"></span>
            <p>Programmes</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Apercu")'>
            <span class="glyphicon glyphicon-book"></span>
            <p>Plans de cours</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Compte")'>
            <span class="glyphicon glyphicon-user"></span>
            <p>Utilisateurs</p>
        </a>
    </div>
</div>