@{
    ViewBag.Titre = "Accueil";
}

<div id="accueil">
    <h1>Bonjour @ViewBag.prenom!</h1>
    <div class="icon-container">
        @if (User.IsInRole("RCP") || User.IsInRole("Enseignant"))
        {
            <a class="icon" href='@Url.Action("Pedagogie")'>
                <span class="mdi mdi-school"></span>
                <p>Pédagogie</p>
            </a>
        }
        @if (User.IsInRole("RCP") || User.IsInRole("RDC") || User.IsInRole("Enseignant"))
        {
            <a class="icon" href='@Url.Action("Index", "Rapport")'>
                <span class="mdi mdi-folder-open"></span>
                <p>Rapport</p>
                <p>(Bêta)</p>
            </a>
            <a class="icon" href='@Url.Action("Reunions")'>
                <span class="mdi mdi-date-range"></span>
                <p>Réunions</p>
            </a>
        }
        <a class="icon" href='@Url.Action("Stage")'>
            <span class="mdi mdi-work"></span>
            <p>Stages</p>
        </a>
        @if (User.IsInRole("Admin"))
        {
            <a class="icon" href='@Url.Action("ConsoleAdmin")'>
                <span class="glyphicon glyphicon-cog"></span>
                <p>Console d'administration</p>
            </a>
        }
        @if (User.IsInRole("Admin eSports") || User.IsInRole("Etudiant") || User.IsInRole("Joueur eSports"))
        {
            <a class="icon" href='@Url.Action("ESport")'>
                <span class="mdi mdi-videogame-asset"></span>
                <p>eSports - Gaillards</p>
            </a>
        }
    </div>
</div>