
@{
    ViewBag.Title = "Stage";
}


<div id="accueil">
    <h1>Stage</h1>
    <div class="icon-container">
        <a class="icon" href='@Url.Action("Index")'>
            <span class="glyphicon glyphicon-share-alt flip"></span>
            <p>Retour</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Location")'>
            <span class="glyphicon glyphicon-map-marker"></span>
            <p>Location</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Entreprise")'>
            <span class="mdi mdi-business"></span>
            <p>Entreprise</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Stage")'>
            <span class="mdi mdi-insert-invitation"></span>
            <p>Stage</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Poste")'>
            <span class="mdi mdi-pages"></span>
            <p>Poste</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Etudiant")'>
            <span class="mdi mdi-school"></span>
            <p>Étudiant</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Contact")'>
            <span class="mdi mdi-contacts"></span>
            <p>Contact</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Application")'>
            <span class="mdi mdi-folder-shared"></span>
            <p>Application</p>
        </a>
    </div>
</div>
