
@{
    ViewBag.Title = "Stage";
}


<div id="accueil">
    <h1>Stages</h1>
    <div class="icon-container">
        <a class="icon" href='@Url.Action("Index")'>
            <span class="glyphicon glyphicon-share-alt flip"></span>
            <p>Retour</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Location")'>
            <span class="glyphicon glyphicon-map-marker"></span>
            <p>Localisations</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Entreprise")'>
            <span class="mdi mdi-business"></span>
            <p>Entreprises</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Stage")'>
            <span class="mdi mdi-insert-invitation"></span>
            <p>Stages</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Poste")'>
            <span class="mdi mdi-pages"></span>
            <p>Postes</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Etudiant")'>
            <span class="mdi mdi-school"></span>
            <p>Étudiants</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Contact")'>
            <span class="mdi mdi-contacts"></span>
            <p>Contacts</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Application")'>
            <span class="mdi mdi-folder-shared"></span>
            <p>Applications</p>
        </a>
        <a class="icon" href='@Url.Action("Index", "Statut")'>
            <span class="mdi mdi-flag"></span>
            <p>Statuts</p>
        </a>
    </div>
</div>
