@model IEnumerable<PotatoPortail.Models.Application>
@using PotatoPortail.Views.Shared.Widget.Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Applications aux stages</h2>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <input type="button" value="Appliquer à un stage" class="btn btn-default" onclick="location.href = '@Url.Action("Creation", "Application")'"/>

    <table class="table">
        <tr>
            <th>Nom de l'étudiant</th>
            <th>Code permanent</th>
            <th>Description du stage</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etudiant.NomComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etudiant.CodePermanent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.Description)
            </td>
            <td>
                <div>
                    <input type="button" value="Modifier" class="btn btn-default" onclick="location.href = '@Url.Action("Edition", "Application", new { id = item.IdApplication })'" />
                    <input type="button" value="Supprimer" class="btn btn-default" onclick="location.href = '@Url.Action("Suppression", "Application", new { id = item.IdApplication })'" />
                </div>
            </td>
        </tr>
        }

    </table>
</div>
