@model PotatoPortail.Models.CriterePerformance

@{
    ViewBag.Titre = "Gérer les critères de performance";
}

@using (Html.BeginForm("Creation", "CriterePerformance"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdElement)

    <div class="container">
        <div class="form-box">
            
            <header class="light-header">

                <h3>@Html.DisplayFor(m => m.ElementCompetence.Description)</h3>

                <h1>@ViewBag.Titre</h1>

            </header>

            <div class="field-box">

                <p>Création d'un critère de performance</p>
                <hr />

                <div class="form-group">
                    @Html.TextAreaFor(m => m.Description, new { @rows = "3", @maxlength = "300", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>

                <input type="submit" value="Ajouter" class="fancy-button" />

            </div>

            @Html.Action("_PartialList")

            <hr />
            <a href='@Url.Action("Info", "ElementCompetence", new { idElement = Model.IdElement })' class="fancy-button">Terminer</a>

        </div>
    </div>
}