@model PotatoPortail.Models.CriterePerformance

@{
    ViewBag.Titre = "Modification d'un critère de performance";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Numero)
    @Html.HiddenFor(m => m.IdElement)

    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h1>@ViewBag.Titre</h1>

            </header>

            <div class="form-group">
                @Html.TextAreaFor(m => m.Description, new { @rows = "3", @maxlength = "300", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Confirmer" class="fancy-button" />
            <a href='@Url.Action("Creation", new { idElement = Model.IdElement })' class="fancy-button rouge">Annuler</a>

        </div>
    </div>

}