@model PotatoPortail.Models.ElementCompetence
@{
    ViewBag.Titre = "Création d'un nouvel élément de compétence";
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="ElementCompetence">
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-box">
            <header class="light-header">
                <h1>@ViewBag.Titre</h1>
            </header>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @rows = "3", @maxlength = "300", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Suivant" class="fancy-button" />
            <div class="fancy-button rouge" onclick="location.href='@Url.Action("Info", "EnonceCompetence", new { idCompetence = Model.IdCompetence })'">Annuler</div>

        </div>
    </div>
}