@model PotatoPortail.Models.ElementCompetence

@{
    ViewBag.Titre = Model.Description;
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="ElementCompetence">
}

@Html.Action("ListeDevis", "DevisMinistere")

<div class="super-view">

    <header class="fat-header">

        <h3>Élément de compétence</h3>

        <h1>@ViewBag.Titre</h1>
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </header>
    <div id="listeCriterePerformance">
        @if (Model.CriterePerformance.Count > 0)
        {
            <h2>Critères de performance</h2>
            foreach (var criterePerformance in Model.CriterePerformance.OrderBy(e => e.Numero))
            {
                <div>
                    <a id="@criterePerformance.IdCritere"
                       class="info-child clearfix vertical-align"
                       href='@Url.Action("Modifier","CriterePerformance", new { idCritere = criterePerformance.IdCritere }/*fait une erreur quand on effectue la modification */)'>
                        <p class="droite">@Html.DisplayFor(m => criterePerformance.Description)</p>
                        <p class="gauche">@Html.DisplayFor(m => criterePerformance.Numero)</p>
                    </a>
                    <a class="fancy-button rouge vertical-align margin-left" href='@Url.Action("Supression", "CriterePerformance", new { idCritere = criterePerformance.IdCritere })'><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            }
            <hr />
        }
    </div>
    <div class="menu-flottant">

        <a class="fancy-button blanc" onclick="location.href='@Url.Action("Info", "EnonceCompetence", new { idCompetence = Model.IdCompetence })'"><span class="glyphicon glyphicon-triangle-left"></span>Retour</a>
        <a class="fancy-button blanc" href='@Url.Action("Modifier", new { idElement = Model.IdElement })'><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
        <a class="fancy-button blanc rouge" onclick="location.href='@Url.Action("Supression", new { idElement = Model.IdElement })'"><span class="glyphicon glyphicon-trash"></span> Supprimer l'élément</a>

    </div>
</div>

<script>
    $(("#el" + @Model.IdElement + "element")).addClass('active');
    $(("#enc" + @Model.EnonceCompetence.IdCompetence)).collapse('show');
   $(("#p" + @Model.EnonceCompetence.DevisMinistere.IdDevis)).collapse('show');
    $("#listeCriterePerformance").sortable({
                update: function (e,div) {
                    var ordre = 1;
                    var listeElement = [];

                    $("#listeCriterePerformance div").each(function () {
                        var idelement = $(this)[0].children[0].id;
                        var objModel = { idelement: idelement, numero: ordre };
                        $(this)[0].children[0].children[1].innerHTML = ordre;
                        listeElement.push(objModel);
                        ordre++;
                    });

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("MettreAjoursOrdre", "ElementCompetence")', 
                        data: JSON.stringify({ listeElement: listeElement }),
                        success: function (data) {
                        },
                        error: function (resultat, statut,erreur) {
                            alert(erreur);
                        }
                    });
                }
            });
</script>
