@model PotatoPortail.Models.ElementCompetence

@{
    ViewBag.Titre = "Modification d'un élèment de compétence";
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="ElementCompetence">
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Numero)
    @Html.HiddenFor(m => m.IdCompetence)

    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h1>@ViewBag.Titre</h1>

            </header>

            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @rows = "3", @maxlength = "300", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Suivant" class="fancy-button" />
            <a class="fancy-button rouge" onclick="location.href='@Url.Action("Info", "ElementCompetence", new { idElement = Model.IdElement })'">Annuler</a>

        </div>
    </div>
}
