@model PotatoPortail.Models.GrilleCours
@{
    ViewBag.Titre = "Création d'une grille de cours";
}
@using (Html.BeginForm()) 
    {@Html.AntiForgeryToken()}
    <div class="container">
        <div class="form-box">
            <header class="light-header">
                <h1>@ViewBag.Titre</h1>
            </header>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nom)
                        @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <input type="submit" value="Creation" class="fancy-button" />
            <a class="fancy-button" onclick="location.href='@Url.Action("Index")'">Retour</a>
        </div>
    </div>
}
