@model IEnumerable<PotatoPortail.Models.GrilleCours>
@{
    ViewBag.Titre = "Gestion des grilles";
}
@Html.Action("ListeGrilleCours")
<div class="super-view">    
    <header class="fat-header">
        <h1>@ViewBag.Titre</h1>
    </header>
    <hr />
    @foreach (var grille in Model)
     {
        <div>
            <a class="info-child clearfix" href='@Url.Action("Info","grilleCours", new { id=grille.IdGrille })'>
                <p class="droiteG">@Html.DisplayFor(Model => grille.IdGrille) -@Html.DisplayFor(model => grille.Nom)</p>
                <p class="gaucheG">420-2001-AA</p>
            </a>
        </div>
     }
    <div class="menu-flottant">
        <a class="fancy-button blanc" href='@Url.Action("Pedagogie", "Accueil")'><span class="glyphicon glyphicon-triangle-left"></span> Retour</a>
    </div>
</div>


