@using SysInternshipManagement.Views.Shared.Widget.Model
@model IEnumerable<SysInternshipManagement.Models.Application>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "title";
}

<div>
    <h1>Entreprise</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <form action="/Application/Creation" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter une nouvelle application"))
        </form>
    </div>
    <table>
        <tr>
            <th>Application</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Etudiant.Prenom)
                    @Html.DisplayFor(model => item.Etudiant.NomDeFamille)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Stage.Poste)
                </td>
                <td>
                </td>
                <td>
                    <div>
                        <form action="/Application/Edition" method="post">
                            <input name="idApplication" type="hidden" value="@Html.DisplayFor(model => item.IdApplication)"/>
                            <button>
                                <img alt="icon-edit" src="~/Content/Icons/baseline-border_color-24px.svg"/>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>