@model ApplicationPlanCadre.Models.eSports.Joueur

@{
    ViewBag.Titre = "Informations sur " + Model.pseudoJoueur;
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="Joueur">
}

<div class="container">
    <div class="box">

        <header class="light-header">
            <h3>Informations de joueur pour @Model.MembreESports.nomComplet (@Model.jeuEquipeMonojoueur)</h3>
        </header>

        @if (Model.nombreJeuxJoueur > 1)
        {
            <h3>@Model.MembreESports.nomComplet est actuellement inscrit à @Model.nombreJeuxJoueur jeux.</h3>
        }
        else if (Model.nombreJeuxJoueur == 1)
        {
            <h3>@Model.MembreESports.nomComplet est actuellement inscrit à @Model.nombreJeuxJoueur jeu.</h3>
        }
        else
        {
            <h3>@Model.MembreESports.nomComplet est actuellement inscrit à aucun jeu.</h3>
        }

        <div class="element">
            @Html.Label("Nom du joueur")

            @Html.DisplayFor(model => model.MembreESports.nomComplet)

        </div>

        <div class="element">
            @Html.LabelFor(model => model.pseudoJoueur)

            @Html.DisplayFor(model => model.pseudoJoueur)

        </div>

        <div class="element">
            @Html.Label("Autre jeu proposé à l'inscription")

            @if (Model.Profil.jeuSecondaire != null)
            {
                @Html.DisplayFor(model => model.Profil.jeuSecondaire.nomJeu)
            }
            else
            {
                @:Aucun
            }

        </div>

        <div class="element">
            @Html.LabelFor(model => model.Profil.courriel)

            @Html.DisplayFor(model => model.Profil.courriel)

        </div>

        <div class="menu-flottant">
            <a class="fancy-button blanc" href='@Url.Action("Index", "Joueur")'>
                <span class="glyphicon glyphicon-triangle-left"></span>
                Retour
            </a>
            <a class="fancy-button blanc" href='@Url.Action("Modifier", "Joueur", new { id = Model.id})'>
                <span class="glyphicon glyphicon-pencil"></span>
                Modifier
            </a>
        </div>


    </div>
</div>