@model PotatoPortail.Models.eSports.Joueur
@{
    ViewBag.Titre = "Suppression de " + Model.PseudoJoueur;
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="Joueur">
}
<div class="container">
    <div class="box">
        <header class="light-header">
            <h1>Êtes-vous sûr de vouloir supprimer ce joueur ?</h1>
        </header>
        <div>
            <div class="element">
                @Html.Label("Nom du joueur")
                @Html.DisplayFor(model => model.MembreESports.NomComplet)
            </div>
            <div class="element">
                @Html.LabelFor(model => model.PseudoJoueur)
                @Html.DisplayFor(model => model.PseudoJoueur)
            </div>
            <div class="element">
                @Html.Label("Jeu")
                @Html.DisplayFor(model => model.Profil.Jeu.NomJeu)
            </div>
            <div class="element">
                @Html.Label("Autre jeu proposé à l'inscription")
                @if (Model.Profil.JeuSecondaire != null)
        {
            @Html.DisplayFor(model => model.Profil.JeuSecondaire.NomJeu)
}
else
{
        @:Aucun jeu secondaire n'a été spécifié à l'inscription
}
            </div>
            <div class="element">
                @Html.LabelFor(model => model.Profil.Courriel)
                @Html.DisplayFor(model => model.Profil.Courriel)
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="menu-flottant">
                <a class="fancy-button blanc" href='@Url.Action("Index", "Joueur")'>
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    Annuler
                </a>
                <input type="submit" value="Confirmer la suppression" class="fancy-button blanc" />
            </div>
        }
    </div>
</div>