@model PotatoPortail.Models.ContexteRealisation

@{
    ViewBag.Titre = "Gérer les contextes de réalisation";
}

@using (Html.BeginForm("Creation", "ContexteRealisation"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdCompetence)

    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h3>@Model.EnonceCompetence.Description</h3>

                <h1>@ViewBag.Titre</h1>

            </header>

            <div class="field-box">

                <p>Création d'un contexte de réalisation</p>
                <hr />

                <div class="form-group">
                    @Html.TextAreaFor(m => m.Description, new { @rows = "3", @maxlength = "300", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>

                <input type="submit" value="Ajouter" class="fancy-button" />

            </div>

            @Html.Action("_PartialList")

            <hr />
            <a href='@Url.Action("Info", "EnonceCompetence", new { idCompetence = Model.IdCompetence })' class="fancy-button">Terminer</a>

        </div>
    </div>
}
