@model ApplicationPlanCadre.Models.ContexteRealisation

@{
    ViewBag.Titre = "Modification d'un contexte de réalisation";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.idCompetence)
    @Html.HiddenFor(m => m.numero)

    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h1>@ViewBag.Titre</h1>

            </header>

            <div class="form-group">
                @Html.TextAreaFor(m => m.description, new { @rows = "3", @maxlength = "300", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Confirmer" class="fancy-button" />
            <a href='@Url.Action("Creation", new { idCompetence = Model.idCompetence })' class="fancy-button rouge">Annuler</a>

        </div>
    </div>
}
