@model ApplicationPlanCadre.Models.EnonceCompetence

@{
    ViewBag.Titre = "Suppression d'un énoncé de compétence";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h1>@ViewBag.Titre</h1>

                <h3>@Html.DisplayFor(m => m.nom)</h3>

            </header>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

           
            @if (Model.PlanCadreEnonce.Count() > 0) 
            {
                <p>Cette énoncé est liée à des plans cadre, la suppression est impossible.</p>
            }
            else
            {
                if (Model.ElementCompetence.Count() > 0)
                {
                    <p>Si vous supprimez cette compétence, vous supprimez aussi les éléments de compétence suivants.</p>
                    
                    foreach (var elementCompetence in Model.ElementCompetence)
                    {
                        <a class="info-child clearfix" href='@Url.Action("Info", "ElementCompetence", new { idElement = elementCompetence.idElement })'>
                            <p>@Html.DisplayFor(m => elementCompetence.description)</p>
                        </a>
                    }
                }

                <p>Êtes-vous certain de vouloir supprimer cet énoncé de compétence?</p>

                <hr />
                <input type="submit" value="Confirmer" class="fancy-button" />
            }
            
            <div class="fancy-button rouge" onclick="location.href='@Url.Action("Annuler", "EnonceCompetence", new { currentUrl = Request.UrlReferrer.ToString()})'">Annuler</div>

        </div>
    </div>
}