@using SysInternshipManagement.Views.Shared.Widget.Model
@model SysInternshipManagement.Models.Contact

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Contact</h1>
    <form action="EnregistrerLesModifications" method="post">
        <input name="idContact" type="hidden" value="@Html.DisplayFor(model => Model.IdContact)"/>
        @* ReSharper disable once UnknownCssClass *@
        <div class="form-content">
            <div>
                @Html.Partial("Widget/_FlatUiTextInput",
                    new FlatUiTextInputModel(
                        "Nom du contact",
                        "20px",
                        "nom",
                        "text",
                        Model.Nom,
                        null
                        )
                    )
            </div>
            <div>
                @Html.Partial("Widget/_FlatUiTextInput",
                    new FlatUiTextInputModel(
                        "Courriel",
                        "20px",
                        "courriel",
                        "email",
                        Model.Courriel,
                        null
                        )
                    )
            </div>
            <div>
                @Html.Partial("Widget/_FlatUiTextInput",
                    new FlatUiTextInputModel(
                        "Numéro de téléphone",
                        "20px",
                        "telephone",
                        "tel",
                        Model.Telephone,
                        null
                        )
                    )
            </div>
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Soumettre"))
        </div>
    </form>
</div>