<<<<<<< HEAD
@using SysInternshipManagement.Views.Shared.Widget.Model
@model IEnumerable<SysInternshipManagement.Models.Contact>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Contact</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <form action="/Contact/Creation" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter un nouveau contact"))
        </form>
    </div>
    <div class="row">
        <div class="col-md-11">
            <table class="cool-table">
                <tr>
                    <th colspan="2">Nom du contact</th>
                    <th colspan="2">Courriel</th>
                    <th colspan="2">Téléphone</th>
                    <th colspan="1" class="action-cell-header">Modifier</th>
                    <th colspan="1" class="action-cell-header">Supprimer</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Courriel)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Telephone)
                    </td>
                    <td>
                        <a href='@Url.Action("Modifier", "Contact", new { id = item.IdContact })'>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>

                    <td>
                        <a href='@Url.Action("Suppression", "Contact", new { id = item.IdContact })'>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
