@using SysInternshipManagement.Views.Shared.Widget.Model
@model IEnumerable<SysInternshipManagement.Models.Contact>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Contact</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <form action="/Contact/Creation" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter un nouveau contact"))
        </form>
    </div>
    <div class="row">
        <div class="col-md-11">
            <table class="cool-table">
                <tr>
                    <th colspan="1" class="action-cell-header">Nom du contact</>
                    <th colspan="1" class="action-cell-header">Courriel</th>
                    <th colspan="1" class="action-cell-header">Téléphone</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td colspan="1" class="action-cell">
                        @Html.DisplayFor(model => item.Nom)
                    </td>
                    <td colspan="1" class="action-cell">
                        @Html.DisplayFor(model => item.Courriel)
                    </td>
                    <td colspan="1" class="action-cell">
                        @Html.DisplayFor(model => item.Telephone)
                    </td>
                    <td>
                        <div>
                            <form action="/Contact/Edition" method="post">
                                <input name="idContact" type="hidden" value="@Html.DisplayFor(model => item.IdContact)" />
                                <button>
                                    <img alt="icon-edit" src="~/Content/Icons/baseline-border_color-24px.svg" />
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>