@using System.Globalization
@using PotatoPortail.Views.Shared.Widget.Model
@using PotatoPortail.Views.Etudiant.EditionComponent.Models
@model PotatoPortail.Views.Etudiant.EditionComponent.Models.PreferenceEditor

<div class="container" style="margin-bottom:5%;">
    <input type="hidden" name="idPreference" value="@Model.Preference.IdPreference" />
    <div>
        @Html.Partial("Widget/_FlatUiTextInput",
            new FlatUiTextInputModel(
                "Salaire désiré",
                "35px",
                "salaire",
                "number",
                Model.Preference.Salaire.ToString(CultureInfo.InvariantCulture),
                0.01f
                )
            )
    </div>
    <div>
        @Html.Partial("../SystemeStage/Stage/EditionComponent/LocationSelect", new LocationSelect())
    </div>
    <div>
        @Html.Partial("../Stage/EditionComponent/PosteSelect", new PosteSelect())
    </div>
    <div>
        @Html.Partial("../Stage/EditionComponent/EntrepriseSelect", new EntrepriseSelect())
    </div>
</div>