@model IEnumerable<PotatoPortail.Models.StatutStage>
@using PotatoPortail.Models
@using PotatoPortail.Views.Shared.Widget.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Navigation Statut";
}


@* ReSharper disable once UnknownCssClass *@
<div class="container page-content">

    <h1>Statut</h1>

    <div class="row">
        <div class="col-md-10">
            <table class="cool-table">
                <tr>
                    <th colspan="6">Statuts</th>
                    <th colspan="1" class="action-cell-header">Modifier</th>
                    <th colspan="1" class="action-cell-header">Supprimer</th>
                </tr>

                @foreach (var item in (List<StatutStage>)Model)
                {
                    <tr>
                        <td colspan="6">
                            @Html.DisplayFor(model => item.NomStatutStage)
                        </td>

                        <td colspan="1" class="action-cell">

                            <a href='@Url.Action("Modifier", "Statut", new { item.IdStatutStage })'>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td colspan="1" class="action-cell">
                            <a href='@Url.Action("Suppression", "Statut", new { item.IdStatutStage })'>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="menu-flottant">
        <a class="fancy-button blanc" href="@Url.Action("Stage","Accueil")">
            <span class="glyphicon glyphicon-triangle-left"></span>
            Retour
        </a>

        <a class="fancy-button blanc" href="@Url.Action("Creation", "Statut")">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter un statut
        </a>

    </div>
</div>
