@using PotatoPortail.Views.Shared.Widget.Model
@model PotatoPortail.Models.StatutStage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container page-content">
    <div class="form-box">
        <h1>Statut</h1>

        <form action="EnregistrerLesModifications" method="post">
            <input name="IdStatutStage" type="hidden" value="@Html.DisplayFor(model => Model.IdStatutStage)"/>
            @* ReSharper disable once UnknownCssClass *@
            <div class="form-content">
                <div class="form-group">
                    @Html.Label("Nom du statut")
                    @Html.TextBoxFor(m => m.NomStatutStage, new {@class = "form-control small"})
                    @Html.ValidationMessageFor(m => m.NomStatutStage, "", new {@class = "text-danger"})
                </div>

                @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Soumettre"))
            </div>
        </form>
    </div>
    <div class="menu-flottant">
        <a class="fancy-button blanc" href="/Statut/Index">
            <span class="glyphicon glyphicon-triangle-left"></span>
            Retour
        </a>
    </div>
</div>