@model PotatoPortail.Models.eSports.Profil

@{
    ViewBag.Titre = "Détails de l'inscription";
}

<div class="container">
    <div class="box">
<header class="light-header">
@if (Model.JeuSecondaire != null)
{
    <h3>Informations de l'inscription de @Model.MembreESports.nomComplet pour «@Model.Jeu.NomJeu» et «@Model.JeuSecondaire.NomJeu»</h3>
}
else
{
    <h3>Informations de l'inscription de @Model.MembreESports.nomComplet pour «@Model.Jeu.NomJeu»</h3>
}
</header>
<div>
    <div class="element">
        @Html.LabelFor(model => model.Pseudo)
        @Html.DisplayFor(model => model.Pseudo)
    </div>
    <div class="element">
        @Html.Label("Informations supplémentaires")
        @if (Model.Note != null)
        {
            @Html.DisplayFor(model => model.Note)
        }
        else
        {
            @:Aucune information supplémentaire n'a été entrée par @Model.MembreESports.nomComplet
        }
    </div>
    <div class="element">
       @Html.LabelFor(model => model.Courriel)

       @Html.DisplayFor(model => model.Courriel)
    </div>
</div>
<div class="menu-flottant">
    <a class="fancy-button blanc" href='@Url.Action("Index", "Profil")'>
        <span class="glyphicon glyphicon-triangle-left"></span>
        Retour
    </a>
    @if (User.IsInRole("Admin eSports"))
    {
        if (Model.JeuSecondaire != null)
        {
            <a class="fancy-button blanc" href='@Url.Action("Valider", "Profil", new { id = Model.Id })'>
                <span class="glyphicon glyphicon-check"></span>
                Accepter pour @Model.Jeu.NomJeu
            </a>

            <a class="fancy-button blanc" href='@Url.Action("Valider", "Profil", new { id = Model.Id, JeuId = Model.IdJeuSecondaire })'>
                <span class="glyphicon glyphicon-check"></span>
                Accepter pour @Model.JeuSecondaire.NomJeu
            </a>
        }
        else
        {
            <a class="fancy-button blanc" href='@Url.Action("Valider", "Profil", new { id = Model.Id })'>
                <span class="glyphicon glyphicon-check"></span>
                Accepter
            </a>
        }
    }

    @if (User.IsInRole("Admin eSports"))
    {
        <a class="fancy-button blanc" href='@Url.Action("Supprimer", "Profil", new { id = Model.Id })'>
            <span class="glyphicon glyphicon-remove"></span>
            Refuser
        </a>
    }
    else
    {
        <a class="fancy-button blanc" href='@Url.Action("Supprimer", "Profil", new { id = Model.Id })'>
            <span class="glyphicon glyphicon-remove"></span>
            Retirer mon inscription
        </a>
    }

</div>


</div>
</div>