@model ApplicationPlanCadre.Models.eSports.Profil

@{
    ViewBag.Titre = "Détails de l'inscription";
}

<div class="container">
    <div class="box">

<header class="light-header">

@if (Model.jeuSecondaire != null)
{
    <h3>Informations de l'inscription de @Model.MembreESports.nomComplet pour «@Model.Jeu.nomJeu» et «@Model.jeuSecondaire.nomJeu»</h3>
}
else
{
    <h3>Informations de l'inscription de @Model.MembreESports.nomComplet pour «@Model.Jeu.nomJeu»</h3>
}

</header>

<div>

    <div class="element">
        @Html.LabelFor(model => model.pseudo)

        @Html.DisplayFor(model => model.pseudo)

    </div>

    <div class="element">

        @Html.Label("Informations supplémentaires")

        @if (Model.note != null)
        {
            @Html.DisplayFor(model => model.note)
        }
        else
        {
            @:Aucune information supplémentaire n'a été entrée par @Model.MembreESports.nomComplet
        }

    </div>

    <div class="element">

       @Html.LabelFor(model => model.courriel)

       @Html.DisplayFor(model => model.courriel)

    </div>


</div>



<div class="menu-flottant">

    <a class="fancy-button blanc" href='@Url.Action("Index", "Profil")'>
        <span class="glyphicon glyphicon-triangle-left"></span>
        Retour
    </a>

    @if (User.IsInRole("Admin eSports"))
    {
        if (Model.jeuSecondaire != null)
        {
            <a class="fancy-button blanc" href='@Url.Action("Valider", "Profil", new { id = Model.id })'>
                <span class="glyphicon glyphicon-check"></span>
                Accepter pour @Model.Jeu.nomJeu
            </a>

            <a class="fancy-button blanc" href='@Url.Action("Valider", "Profil", new { id = Model.id, JeuId = Model.JeuSecondaireId })'>
                <span class="glyphicon glyphicon-check"></span>
                Accepter pour @Model.jeuSecondaire.nomJeu
            </a>
        }
        else
        {
            <a class="fancy-button blanc" href='@Url.Action("Valider", "Profil", new { id = Model.id })'>
                <span class="glyphicon glyphicon-check"></span>
                Accepter
            </a>
        }
    }

    @if (User.IsInRole("Admin eSports"))
    {
        <a class="fancy-button blanc" href='@Url.Action("Supprimer", "Profil", new { id = Model.id })'>
            <span class="glyphicon glyphicon-remove"></span>
            Refuser
        </a>
    }
    else
    {
        <a class="fancy-button blanc" href='@Url.Action("Supprimer", "Profil", new { id = Model.id })'>
            <span class="glyphicon glyphicon-remove"></span>
            Retirer mon inscription
        </a>
    }

</div>


</div>
</div>