@model IEnumerable<PotatoPortail.Models.eSports.Profil>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Titre = "Inscriptions";
}

<div class="container">
    <div class="box">
        @if (User.IsInRole("Admin eSports"))
        {

            if (ViewBag.inscriptions.Count > 0)
            {
                <header class="light-header">
                    <h1>Inscriptions déposées</h1>
                </header>

                <table class="cool-table">
                    <tr>
                        <th>
                            @Html.DisplayName("Nom de l'étudiant")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pseudo)
                        </th>
                        <th class="action-cell-header">
                            <b>Détails</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Accepter pour jeu primaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Accepter pour jeu secondaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Refuser</b>
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MembreESports.NomComplet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pseudo)
                            </td>
                            <td class="action-cell">
                                <a href='@Url.Action("Details", "Profil", new { id = item.Id })'>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </td>
                            <td class="action-cell">
                                <a href='@Url.Action("Valider", "Profil", new { id = item.Id })'>
                                    <span class="glyphicon glyphicon-check"></span>
                                    @item.Jeu.NomJeu
                                </a>
                            </td>
                            <td class="action-cell">
                                @if (item.JeuSecondaire != null)
                                {
                                    <a href='@Url.Action("Valider", "Profil", new { id = item.Id, JeuId = item.IdJeuSecondaire })'>
                                        <span class="glyphicon glyphicon-check"></span>
                                        @item.JeuSecondaire.NomJeu
                                    </a>
                                }
                            </td>
                            <td class="action-cell">
                                <a href='@Url.Action("Supprimer", "Profil", new { id = item.Id })'>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>

                        </tr>
                    }

                </table>
            }
            else
            {
                <header class="light-header">
                    <h1>Aucune inscription n'est actuellement en attente d'approbation.</h1>
                </header>
            }

        }
        else
        {
            if(Model.Any(m => m.IdMembreESports == User.Identity.GetUserId()))
            {

                <header class="light-header">
                    <h1>Mes candidatures déposées</h1>
                </header>

                <table class="cool-table">
                    <tr>
                        <th>
                            @Html.DisplayName("Nom de l'étudiant")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pseudo)
                        </th>
                        <th class="action-cell-header">
                            <b>Détails</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Jeu primaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Jeu secondaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Supprimer</b>
                        </th>
                    </tr>

                    @foreach (var item in Model.Where(m => m.IdMembreESports == User.Identity.GetUserId()))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MembreESports.NomComplet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pseudo)
                            </td>

                            <td class="action-cell">
                                <a href='@Url.Action("Details", "Profil", new { id = item.Id })'>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </td>

                            <td class="action-cell">
                                @Html.DisplayFor(modelItem => item.Jeu.NomJeu)
                            </td>

                            <td class="action-cell">
                                @if (item.JeuSecondaire != null)
                                {
                                    @Html.DisplayFor(modelItem => item.JeuSecondaire.NomJeu)
                                }
                            </td>

                            <td class="action-cell">
                                <a href='@Url.Action("Supprimer", "Profil", new { id = item.Id })'>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>

                        </tr>
                    }

                </table>
            }
            else
            {
                <header class="light-header">
                    <h1>Vous n'avez actuellement aucune candidature déposée.</h1>
                </header>
            }
        }

        <div class="menu-flottant">
            <a class="fancy-button blanc" href="@Url.Action("ESport", "Accueil")">
                <span class="glyphicon glyphicon-triangle-left"></span>
                Retour
            </a>
            @if (User.IsInRole("Admin eSports"))
            {
                <a class="fancy-button blanc" href="@Url.Action("Index", "Joueur")">
                    <span class="mdi mdi-person"></span>
                    Liste des joueurs
                </a>
                if(User.IsInRole("Etudiant"))
                {
                    <a class="fancy-button blanc" href="@Url.Action("Inscription", "Profil")">
                        <span class="glyphicon glyphicon-plus"></span>
                        Soumettre une inscription
                    </a>
                }
            }
            else
            {
                <a class="fancy-button blanc" href="@Url.Action("Index", "Joueur")">
                    <span class="mdi mdi-person"></span>
                    Mes profils de joueur
                </a>
                <a class="fancy-button blanc" href="@Url.Action("Inscription", "Profil")">
                    <span class="glyphicon glyphicon-plus"></span>
                    Soumettre une inscription
                </a>
            }
        </div>

    </div>

</div>