@model IEnumerable<ApplicationPlanCadre.Models.eSports.Profil>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Titre = "Inscriptions";
}

<div class="container">

    <div class="box">

        @if (User.IsInRole("Admin eSports"))
        {

            if (ViewBag.inscriptions.Count > 0)
            {
                <header class="light-header">
                    <h1>Inscriptions déposées</h1>
                </header>

                <table class="cool-table">
                    <tr>
                        <th>
                            @Html.DisplayName("Nom de l'étudiant")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.pseudo)
                        </th>
                        <th class="action-cell-header">
                            <b>Détails</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Accepter pour jeu primaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Accepter pour jeu secondaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Refuser</b>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MembreESports.nomComplet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pseudo)
                            </td>

                            <td class="action-cell">
                                <a href='@Url.Action("Details", "Profil", new { id = item.id })'>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </td>

                            <td class="action-cell">
                                <a href='@Url.Action("Valider", "Profil", new { id = item.id })'>
                                    <span class="glyphicon glyphicon-check"></span>
                                    @item.Jeu.nomJeu
                                </a>
                            </td>

                            <td class="action-cell">
                                @if (item.jeuSecondaire != null)
                                {
                                    <a href='@Url.Action("Valider", "Profil", new { id = item.id, JeuId = item.JeuSecondaireId })'>
                                        <span class="glyphicon glyphicon-check"></span>
                                        @item.jeuSecondaire.nomJeu
                                    </a>
                                }
                            </td>

                            <td class="action-cell">
                                <a href='@Url.Action("Supprimer", "Profil", new { id = item.id })'>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>

                        </tr>
                    }

                </table>
            }
            else
            {
                <header class="light-header">
                    <h1>Aucune inscription n'est actuellement en attente d'approbation.</h1>
                </header>
            }

        }
        else
        {
            if(Model.Where(m => m.MembreESportsId == User.Identity.GetUserId()).Any())
            {

                <header class="light-header">
                    <h1>Mes candidatures déposées</h1>
                </header>

                <table class="cool-table">
                    <tr>
                        <th>
                            @Html.DisplayName("Nom de l'étudiant")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.pseudo)
                        </th>
                        <th class="action-cell-header">
                            <b>Détails</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Jeu primaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Jeu secondaire</b>
                        </th>
                        <th class="action-cell-header">
                            <b>Supprimer</b>
                        </th>
                    </tr>

                    @foreach (var item in Model.Where(m => m.MembreESportsId == User.Identity.GetUserId()))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MembreESports.nomComplet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pseudo)
                            </td>

                            <td class="action-cell">
                                <a href='@Url.Action("Details", "Profil", new { id = item.id })'>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </td>

                            <td class="action-cell">
                                @Html.DisplayFor(modelItem => item.Jeu.nomJeu)
                            </td>

                            <td class="action-cell">
                                @if (item.jeuSecondaire != null)
                                {
                                    @Html.DisplayFor(modelItem => item.jeuSecondaire.nomJeu)
                                }
                            </td>

                            <td class="action-cell">
                                <a href='@Url.Action("Supprimer", "Profil", new { id = item.id })'>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>

                        </tr>
                    }

                </table>
            }
            else
            {
                <header class="light-header">
                    <h1>Vous n'avez actuellement aucune candidature déposée.</h1>
                </header>
            }
        }

        <div class="menu-flottant">
            <a class="fancy-button blanc" href="/Accueil/ESport">
                <span class="glyphicon glyphicon-triangle-left"></span>
                Retour
            </a>
            @if (User.IsInRole("Admin eSports"))
            {
                <a class="fancy-button blanc" href="/Joueur/Index">
                    <span class="mdi mdi-person"></span>
                    Liste des joueurs
                </a>
                if(User.IsInRole("Etudiant"))
                {
                    <a class="fancy-button blanc" href="/Profil/Inscription">
                        <span class="glyphicon glyphicon-plus"></span>
                        Soumettre une inscription
                    </a>
                }
            }
            else
            {
                <a class="fancy-button blanc" href="/Joueur/Index">
                    <span class="mdi mdi-person"></span>
                    Mes Profil de joueur
                </a>
                <a class="fancy-button blanc" href="/Profil/Inscription">
                    <span class="glyphicon glyphicon-plus"></span>
                    Soumettre une inscription
                </a>
            }
        </div>

    </div>

</div>