@model ApplicationPlanCadre.Models.eSports.Profil

@{
    ViewBag.Titre = "Inscription";
}

<div class="container">
    <div class="form-box">

        <header class="light-header">
            <h1>Remplissez ce formulaire pour vous inscrire</h1>
        </header>


        @using (Html.BeginForm())
        {

        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    @Html.LabelFor(model => model.pseudo)
                    @Html.TextBoxFor(model => model.pseudo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.pseudo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.courriel)
                    @Html.TextBoxFor(model => model.courriel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.courriel, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.note)
            @Html.TextAreaFor(model => model.note, new { @rows = 3, @maxlength = "300", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="field-box">
                    <div class="row">
                        <div class="col-md-9">
                            <p>Jeu primaire</p>
                            <hr />
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.JeuId, (IEnumerable<SelectListItem>)ViewBag.lstJeux, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.JeuId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="field-box">
                    <div class="row">
                        <div class="col-md-9">
                            <p>Jeu secondaire</p>
                            <hr />
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.JeuSecondaireId, (IEnumerable<SelectListItem>)ViewBag.lstJeuxSecondaires, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.JeuSecondaireId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="menu-flottant">
            <a class="fancy-button blanc" href="/Accueil/ESport">
                <span class="glyphicon glyphicon-triangle-left"></span>
                Annuler
            </a>

            <input type="submit" value="Soumettre l'inscription" class="fancy-button blanc" />
        </div>

        }

    </div>
</div>

<hr class="end-div" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}