@model IEnumerable<SysInternshipManagement.Models.Entreprise>;
@using SysInternshipManagement.Models
@using SysInternshipManagement.Models.Widget
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Entreprise</h1>
    @Html.Partial("Widget/_FlatUiSearchBar", new FlatUiSearchBar())
    <div style="margin-top: 15px; margin-bottom: 15px;">
        <form action="/Entreprise/Creation" method="post">
            @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Ajouter une nouvelle entreprise"))
        </form>
    </div>
    <div class=""></div>
    <table>
        <tr>
            <th>Entreprise</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Nom)</td>
                <td>
                    @Html.DisplayFor(model => item.NumeroCivique)
                    @Html.DisplayFor(model => item.Rue)
                    @Html.DisplayFor(model => item.Ville),
                    @Html.DisplayFor(model => item.Province),
                    @Html.DisplayFor(model => item.Pays)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CodePostal)
                </td>
                <td>
                    <div>
                        <form action="/Entreprise/Edition" method="post">
                            <input name="id" type="hidden" value="@Html.DisplayFor(model => item.IdEntreprise)"/>
                            <button>
                                <img src="~/Content/Icons/baseline-border_color-24px.svg"/>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>