@model ApplicationPlanCadre.Models.ChangePasswordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Titre = "Changer le mot de passe";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h1>@ViewBag.Titre</h1>

            </header>

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-4">

                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>

                </div>
            </div>

            <hr />
            <input type="submit" value="Confirmer" class="fancy-button" />
            <a class="fancy-button" onclick="location.href='@Url.Action("Details", new { userId = User.Identity.GetUserId() })'">Retour</a>

        </div>
    </div>
}
