@model ApplicationPlanCadre.Models.Programme

@{
    ViewBag.Titre = "Modification d'un programme";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idProgramme)

    <div class="container">
        <div class="form-box">

            <header class="light-header">

                <h1>@ViewBag.Titre</h1>

            </header>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            @Html.ValidationMessage("Duplique", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(model => model.idDevis)
                        @Html.DropDownList("idDevis", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idDevis, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nom)
                        @Html.TextBoxFor(model => model.nom, new { @class = "form-control", @maxlength = 50, @Value = @Model.nom })
                        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                    </div>

                    <div class=" form-group">
                        @Html.LabelFor(model => model.annee)
                        @Html.TextBoxFor(model => model.annee, new { @class = "form-control small", @maxlength = 4, @Value = @Model.annee })
                        @Html.ValidationMessageFor(model => model.annee, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nbSession)
                        @Html.TextBoxFor(model => model.nbSession, new { @class = "form-control small", @maxlength = 1, @Value = @Model.nbSession })
                        @Html.ValidationMessageFor(model => model.nbSession, "", new { @class = "text-danger" })
                    </div>
					
                    <hr />

                    <input type="submit" value="Confirmer" class="fancy-button" />
                    <a href='@Url.Action("Valider", new { idProgramme = Model.idProgramme})' class="fancy-button">Valider</a>
                    <a href='@Url.Action("Index")' class="fancy-button rouge">Annuler</a>
					
                </div>
            </div>
        </div>
    </div>
}