@model PotatoPortail.Models.eSports.Joueur

@{
    ViewBag.Titre = "Informations sur " + Model.PseudoJoueur;
}

<div class="container">
    <div class="box">

        <header class="light-header">
            <h3>Informations de joueur pour @Model.Etudiant.Prenom + @Model.Etudiant.NomDeFamille (@Model.JeuEquipeMonojoueur)</h3>
        </header>

        @if (Model.NombreJeuxJoueur > 1)
        {
            <h3>@Model.Etudiant.Prenom + @Model.Etudiant.NomDeFamille est actuellement inscrit à @Model.NombreJeuxJoueur jeux.</h3>
        }
        else if (Model.NombreJeuxJoueur == 1)
        {
            <h3>@Model.Etudiant.Prenom + @Model.Etudiant.NomDeFamille est actuellement inscrit à @Model.NombreJeuxJoueur jeu.</h3>
        }
        else
        {
            <h3>@Model.Etudiant.Prenom + @Model.Etudiant.NomDeFamille est actuellement inscrit à aucun jeu.</h3>
        }

        <div class="element">
            @Html.Label("Nom du joueur")

            @Html.DisplayFor(model => model.Etudiant.Prenom + @Model.Etudiant.NomDeFamille )

        </div>

        <div class="element">
            @Html.LabelFor(model => model.PseudoJoueur)

            @Html.DisplayFor(model => model.PseudoJoueur)

        </div>

        <div class="element">
            @Html.Label("Autre jeu proposé à l'inscription")

            @if (Model.Profil.JeuSecondaire != null)
            {
                @Html.DisplayFor(model => model.Profil.JeuSecondaire.nomJeu)
            }
            else
            {
                @:Aucun
            }

        </div>

        <div class="element">
            @Html.LabelFor(model => model.Profil.Courriel)

            @Html.DisplayFor(model => model.Profil.Courriel)

        </div>

        <div class="menu-flottant">
            <a class="fancy-button blanc" href='@Url.Action("Index", "Joueur")'>
                <span class="glyphicon glyphicon-triangle-left"></span>
                Retour
            </a>
            <a class="fancy-button blanc" href='@Url.Action("Modifier", "Joueur", new {id = Model.Id})'>
                <span class="glyphicon glyphicon-pencil"></span>
                Modifier
            </a>
        </div>
    </div>
</div>