@model IEnumerable<PotatoPortail.Models.Reunions.OrdreDuJour>

@Html.Action("ListeOrdreDuJour")

<div class="super-view">
    <header class="light-header">
        <h1>Ordre du jour - @ViewBag.AnneeODJ</h1>
    </header>

    @foreach (var odj in Model.OrderByDescending(m => m.DateOdJ))
    {
        if (odj.TitreOdJ != "Modele")
        {
        <div>
            <a class="info-child clearfix vertical-align" href='@Url.Action("Details", new { id = odj.IdOdJ })'>
                <p class="gauche">@Html.DisplayFor(p => odj.DateOdJ)</p><p class="droiteG">@Html.DisplayFor(p => odj.TitreOdJ)</p>
            </a>
            @*<a class="fancy-button rouge vertical-align margin-left" href='@Url.Action("Supression", "EnonceCompetence", new { idCompetence = enonceCompetence.idCompetence })'><span class="glyphicon glyphicon-trash"></span></a>*@
        </div>
        }        
    }
    <hr class="end-div" />

    <div class="menu-flottant">
        <a class="fancy-button blanc" href='@Url.Action("Index", "OrdreDuJour")'><span class="glyphicon glyphicon-triangle-left"></span> Retour</a>
        <a class="fancy-button blanc" href='@Url.Action("Create", "OrdreDuJour")'><span class="glyphicon glyphicon-plus"></span> Créer un ordre du jour</a>
    </div>
</div>