@using PotatoPortail.Views.Shared.Widget.Model
@model PotatoPortail.Models.Location

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom: 5%;">
    <div class="form-box">
        <h1>Location</h1>

        <form action="EnregistrerLesModifications" method="post">
            <input name="idLocation" type="hidden" value="@Html.DisplayFor(model => Model.IdLocation)" />
            @* ReSharper disable once UnknownCssClass *@
            <div class="form-content">
                <div class="form-group">
                    @Html.Label("Nom")
                    @Html.TextBoxFor(m => m.Nom, new { @class = "form-control small" })
                    @Html.ValidationMessageFor(m => m.Nom, "", new { @class = "text-danger" })
                </div>

                @Html.Partial("Widget/_FlatUiButton", new FlatUiButton("Soumettre"))
            </div>
        </form>
    </div>    


    <div class="menu-flottant">
        <a class="fancy-button blanc" href="/Location/Index">
            <span class="glyphicon glyphicon-triangle-left"></span>
            Retour
        </a>
    </div>
</div>