@model SysInternshipManagement.Models.Widget.FlatUiTextInputModel

<div class="flat-text-editor">
    <p>@Model.Placeholder</p>
    <input step="1" style="height: @Model.Height" name="@Model.Name" type="@Model.Type" value="@Model.Value" required/>
</div>