@model PotatoPortail.Models.DevisMinistere

@{
    ViewBag.Titre = Model.Nom;
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="DevisMinistere">
}

@Html.Action("ListeDevis")

<div class="super-view">

    <header class="fat-header">

        <h3>Devis ministériel</h3>

        <h1>@ViewBag.Titre</h1>
        <hr />

        <h3><b>@Html.DisplayNameFor(m => m.Specialisation) : </b>@Html.DisplayFor(m => m.Specialisation)</h3>

    </header>

    <div class="row">
        <div class="col-md-6">

            <div class="element">
                @Html.LabelFor(m => m.Sanction)
                @Html.DisplayFor(m => m.Sanction)
            </div>

            <div class="element">
                @Html.LabelFor(m => m.NbUnite)
                @Html.DisplayFor(m => m.NbUnite)@Html.Raw(" unités")
            </div>

            <div class="element">
                @Html.LabelFor(m => m.Condition)
                @Html.DisplayFor(m => m.Condition)
            </div>

            @if (Model.DocMinistere != null)
            {
                <div class="element">
                    <a class="fancy-button rouge" href='@Url.Content("~/Files/Document ministériel/" + Model.DocMinistere)' target="_blank">
                        <span>@Html.DisplayFor(m => Model.DocMinistere)</span> <span class="glyphicon glyphicon-file"></span>
                    </a>
                </div>
            }

        </div>

        <div class="col-md-6">

            <div class="field-box">

                <p>Heures</p>
                <hr />

                <div class="element">
                    @Html.LabelFor(m => m.NbHeureFrmGenerale)
                    @Html.DisplayFor(m => m.NbHeureFrmGenerale)@Html.Raw("h")
                </div>

                <div class="element">
                    @Html.LabelFor(m => m.NbHeureFrmSpecifique)
                    @Html.DisplayFor(m => m.NbHeureFrmSpecifique)@Html.Raw("h")
                </div>

                <div class="element">
                    <label>Total</label>
                    @Html.ViewData["total"]@Html.Raw("h")
                </div>
            </div>

        </div>
    </div>

    @if (Model.EnonceCompetence.Count > 0)
    {
        <hr />
        <h2>Énoncés de compétence</h2>

        foreach (var enonceCompetence in Model.EnonceCompetence)
        {
            <div>
                <a class="info-child clearfix vertical-align" href='@Url.Action("Info", "EnonceCompetence", new { idCompetence = enonceCompetence.IdCompetence })'>
                    <p class="droite">@Html.DisplayFor(p => enonceCompetence.Description)</p>
                    <p class="gauche">@Html.DisplayFor(p => enonceCompetence.CodeCompetence)</p>
                </a>
                <a class="fancy-button rouge vertical-align margin-left" href='@Url.Action("Supression", "EnonceCompetence", new { idCompetence = enonceCompetence.IdCompetence })'><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        }
    }

    <hr class="end-div" />

    <div class="menu-flottant">

        <a class="fancy-button blanc" href='@Url.Action("Index", "DevisMinistere")'><span class="glyphicon glyphicon-triangle-left"></span> Retour</a>
        <a class="fancy-button blanc" href='@Url.Action("Modifier", new { IdDevis = Model.IdDevis })'><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
        <a class="fancy-button blanc" href='@Url.Action("Creation", "EnonceCompetence", new { IdDevis = Model.IdDevis })'><span class="glyphicon glyphicon-plus"></span> Ajouter un énoncé</a>

    </div>
</div>

<script>
    $(("#p" + @Model.IdDevis + "element")).addClass('active');
</script>
