@model IEnumerable<PotatoPortail.Models.DevisMinistere>

<div class="tree-view">
    <div class="tree-view-header">
        Devis ministériels
    </div>
    @foreach (var devisMinistere in Model.OrderBy(m => m.Discipline))
    {
        string pId = "p" + devisMinistere.IdDevis.ToString();
        string pElement = pId + "element";
        string pTarget = "#" + pId;

        <div id=@pElement class="tree-view-item">

            @if (devisMinistere.EnonceCompetence.Count > 0)
            {
                <div class="collapse-button" data-toggle="collapse" data-target=@pTarget><span class="glyphicon glyphicon-chevron-right"></span></div>
            }
            else
            {
                <div class="no-button"></div>
            }

            <a href='@Url.Action("Info", "DevisMinistere", new { idDevis = devisMinistere.IdDevis })'>
                @Html.DisplayFor(m => devisMinistere.Nom)
            </a>

        </div>
        <div id=@pId class="collapse">
            <div class="tree-view-item-container">

                <div class="tree-view-header">Énoncés de compétence</div>

                @foreach (var enonceCompetence in devisMinistere.EnonceCompetence.OrderBy(m => m.CodeCompetence))
                {
                    string encId = "enc" + enonceCompetence.IdCompetence.ToString();
                    string encElement = encId + "element";
                    string encTarget = "#" + encId;
                    <div id=@encElement class="tree-view-item">

                        @if (enonceCompetence.ElementCompetence.Count > 0)
                        {
                            <div class="collapse-button" data-toggle="collapse" data-target=@encTarget><span class="glyphicon glyphicon-chevron-right"></span></div>
                        }
                        else
                        {
                            <div class="no-button"></div>
                        }

                        <a href='@Url.Action("Info", "EnonceCompetence", new { idCompetence = enonceCompetence.IdCompetence })'>
                            @Html.DisplayFor(m => enonceCompetence.Description)
                        </a>

                    </div>
                    <div id=@encId class="collapse">
                        <div class="tree-view-item-container">
                            <div class="tree-view-header">Éléments de compétence</div>
                            @foreach (var elementCompetence in enonceCompetence.ElementCompetence.OrderBy(m => m.Numero))
                            {
                                string el_item = "el" + elementCompetence.IdElement.ToString() + "element";

                                <div id=@el_item class="tree-view-item">

                                    <div class="no-button"></div>

                                    <a href='@Url.Action("Info", "ElementCompetence", new { idElement = elementCompetence.IdElement })'>
                                        @Html.DisplayFor(m => elementCompetence.Description)
                                    </a>

                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<script src="@Url.Content("~/Scripts/perfect-scrollbar.js")"></script>
<script>
    var ps = new PerfectScrollbar('.tree-view');
</script>