@model PotatoPortail.Models.Programme
@{
    ViewBag.Titre = Model.Nom;
    <input type="hidden" id="tableRecherche" name="tableRecherche" value="Cours">
}
@Html.Action("ListeProgramme")
<div class="super-view">
    <header class="fat-header">
        <h3>Programme</h3>
        <h1>@ViewBag.Titre</h1>
        <hr />
        <h3>@Html.DisplayFor(model => model.DevisMinistere.Departement.Discipline)-@Html.DisplayFor(model => model.Annee)-@Html.DisplayFor(model => model.DevisMinistere.CodeSpecialisation)</h3>
    </header>

    <h2>Plans cadres</h2>

    @foreach (var planCadre in Model.PlanCadre)
    {
        <div>
            <a class="info-child clearfix" href='@Url.Action("info", "PlanCadre", new { idPlanCadre = planCadre.IdPlanCadre })'>
                <p class="gaucheG">@Html.DisplayFor(model => planCadre.NumeroCours)</p>
                <p class="droiteG">@Html.DisplayFor(ec => planCadre.TitreCours)</p>
            </a>
        </div>
    }
    <hr class="end-div" />
    <div class="menu-flottant">
        <a class="fancy-button blanc" onclick="location.href='@Url.Action("Index", "Programme")'"><span class="glyphicon glyphicon-triangle-left"></span>Retour</a>
        <a class="fancy-button blanc" onclick="location.href='@Url.Action("Creation", "PlanCadre", new { @Model.IdProgramme })'">Créer un plan cadre</a>
    </div>
</div>
<script>
    $(("#p" + @Model.IdProgramme + "element")).addClass('active');
</script>
