@model PotatoPortail.ViewModels.PlanCours.ServicesAdaptesViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="super-view">
        <div class="form-box">

            <header class="light-header">Ajout de section</header>
            <hr />
            @Html.Hidden("idPlanCours", (int)ViewBag.idPlanCours)
            <div class="form-group">
                @Html.LabelFor(model => model.NomSections, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TitreSection", (IEnumerable<SelectListItem>)ViewBag.nomSections, htmlAttributes: new { @class = "form-control", @name = "titreSection" })
                    @Html.ValidationMessageFor(model => model.NomSections, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Departements, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label>@Html.Raw(ViewBag.departement)</label>
                    @Html.ValidationMessageFor(model => model.Departements, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TexteContenu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.TexteContenu,  new { @class = "form-control", @name =  "texteContenu", @cols = 50, @rows = 5})
                    @Html.ValidationMessageFor(model => model.TexteContenu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <a class="fancy-button" href="@Url.Action("Index","Apercu")"><span class="glyphicon glyphicon-triangle-left"></span> Retour</a>
                <input type="submit" value="Création" class="fancy-button" />
            </div>

        </div>
    </div>
}
